<h1>问题列表</h1>

<table>
  <tr>
    <th>问题</th>
    <th>是否免费</th>
    <th>截至日期</th>
    <th>投票数</th>
    <th>答案数</th>
    <th>评论数</th>
    <th>建立日期</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
	<td><%= link_to question.title, "/questions/#{question.id}" %></td>
	<td><%= question.is_free %></td>
	<td><%= question.end_date %></td>
	<td><%= question.votes_count %></td>
	<td><%= question.answers_count %></td>
	<td><%= question.comments_count %></td>
	<td><%= question.created_at %></td>
	<td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

